body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #444;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    padding-top: 150px;
}

.other-infos {
    position: sticky;
    top: 150px;
    z-index: 1000;
    flex: 0 0 20%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.stats-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e1e8ed;
    margin-bottom: 20px;
}

.stats-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.stat-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.stat-item i {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
}

.stat-item p {
    font-size: 18px;
    color: #555;
    margin: 0;
}

.user-msgs {
    flex: 0 0 35%;
    text-align: center;
    margin: 0 10px;
}

h1, h2, p {
    color: #333;
}

#search-bar {
    padding: 10px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sort-select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    background-color: #ffffff;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23999"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    width: 230px;
}

#sort-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.post-card {
    border: 1px solid #e1e8ed;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mid, .bottom {
    padding: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 5px;
    color: #007bff;
}

.username-link {
    color: #007bff;
}

.content {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    margin: 10px 0;
    max-width: 800px;
    background-color: #ffffff;
    padding: 15px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.likes-dislikes {
    display: flex;
    align-items: center;
}

.likes a,
.dislikes a {
    color: inherit;
    text-decoration: none;
}

.likes {
    margin-right: 8px;
    color: #28a745;
}

.dislikes {
    color: #dc3545;
}

.replies-link,
.time,
.post-id {
    color: #838383;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}